.name {
  font-family: cursive;
  color: indigo;
}

.skills {
  border-top: 0px solid black;
  text-align: center;
  padding: 10px;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
.bigavatar {
  width: 250px;
  height: 250px;
  border-radius: 150px;
}
.skillsavatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 766px) {
  .avatar {
    width: 80px;
    height: 80px;
    margin-top: 35px;
    margin-bottom: 10px;
  }
}
