.name {
  font-family: cursive;
  color: indigo;
}

container {
  background-color: white;
}

.skills {
  border-top: 0px solid black;
  text-align: center;
  padding: 10px;
}
.skills .MuiAvatar-root-98 {
  width: 150px;
  height: 150px;
}
.MuiGrid-justify-xs-center-18 {
  justify-content: center;
  padding-top: 15px;
}

.skills-image {
  padding-top: 20px;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.skills-description {
  border-top: 0px solid black;
  text-align: center;
  padding: 10px;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
.bigavatar {
  width: 250px;
  height: 250px;
  border-radius: 150px;
}
.skillsavatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card,
.new-movie-card {
  border: 0px solid black;
  width: 200px;
  height: 240px;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 766px) {
  .avatar {
    width: 80px;
    height: 80px;
    margin-top: 35px;
    margin-bottom: 10px;
  }
}
